{% extends "base.html" %}
{% load static %} 

{% block content %}
<!-- About Sermovox Header -->
<div class="special-header">
    <h1>About LittleTalk</h1>
</div>

<!-- Main Content Grid (Home Page) -->
<div class="home-page">
    <!-- Left Box -->
    <div class="info-box">
        <h1>Welcome to LittleTalk</h1>
        <p>LittleTalk is a tool for speech and language therapy that offers a variety of high quality Speech Therapy exercises, with built in progress tracking and adjustable learning levels.</p>
        <p>Get started by selecting an exercise on the left sidebar or reading more about our mission below.</p>
    </div>

    <!-- Image aligned to Left Box -->
    <div class="info-image">
        <img src="{% static 'images/speech_therapy.png' %}">
    </div>

    <!-- Image aligned to Right Box -->
    <div class="info-image">
        <img src="{% static 'images/game_screenshot.png' %}">
    </div>

    <!-- Right box -->
    <div class="info-box">
        <h1>Access 🚀</h1>
        <p>We believe high quality speech therapy exercises should be easily accessible to anyone who needs them from any device.</p>
        <p>Our mission is to empower parents, children and education practitioners to conveniently practice speech therapy in multiple settings.</p> 
        <p>Increased accessibility encourages consistent carryover, allowing children to develop and apply their functional language in a variety daily environments.</p> 
    </div>

    <!-- mum says u shouldnjt mention client here as you are excluding kids -->
    <!-- Left Box -->
    <div class="info-box">
        <h1>Supported Learning 👩‍🏫</h1>
        <p>Little Talk is adaptable to your child's unique learning journey, with customisable difficulty levels and diverse settings, providing the perfect scaffold to support their language development.</p>
        <p>We aim to make learning more engaging and effective by including a wide variety of activities tailored to different skill levels, ensuring your child stays motivated while building their speech and language skills at their own pace.</p>
    </div>

    <!-- Image aligned to Left Box -->
    <div class="info-image">
        <img src="{% static 'images/learning_level.png' %}">
    </div>

    <!-- Image aligned to Right Box -->
    <div class="info-image">
        <img src="{% static 'images/stock_graphs.jpg' %}">
    </div>

    <!-- Right box -->
    <div class="info-box">
        <h1>Data 📊</h1>
        <p>Utilise user performance data to assist with targeted learning, adaptive progression and help researchers to discover valuable insights that might further our understanding of language disorders.</p>
    </div>
</div>
{% endblock %}