{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LittleTalk{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/practice.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/logbook.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGXMZKE8JF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZGXMZKE8JF');
    </script>
</head>
<body>
    {% if not hide_sidebar %}
        <!-- Side panel -->
        <!-- Side panel -->
        <div class="sidebar">
            <!-- Logo at the top -->
            <div class="sidebar-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/littletalk_logo.png' %}" alt="LittleTalk Logo">
                </a>
            </div>

            <ul class="sidebar-menu">
                <li>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'icons/house.png' %}" alt="Home" class="sidebar-icon">
                        <span>Practise</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'images/profile_icon.png' %}" alt="Profile" class="sidebar-icon">
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logbook' %}">
                        <img src="{% static 'icons/diary.png' %}" alt="Logbook" class="sidebar-icon">
                        <span>Logbook</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'support' %}">
                        <img src="{% static 'icons/help.png' %}" alt="Support" class="sidebar-icon">
                        <span>Help</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <img src="{% static 'icons/service.png' %}" alt="Logout" class="sidebar-icon">
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>