{% extends 'base.html' %}

{% block title %}
{{ game.title }}
{% endblock %}

{% block content %}
    <h1>{{ game.title }}</h1>
    <p>{{ game.description }}</p>
    <p>{{ game.description2 }}</p>

    <!-- Video placeholder box -->
    <div class="video-placeholder">
        Video example of exercise being conducted
    </div>

    <!-- Start button -->
    <div class="start-button-wrapper">
        <a href="{{ game.link }}" target="_blank" class="start-button">Start</a>
    </div>
{% endblock %}