{% extends 'base.html' %}
{% load static %}

{% block title %}LittleTalk | {{ game.title }}{% endblock %}

{% block content %}

<h1>More Info</h1>

<div class="container-box pt-70">

    <!-- Back Arrow -->
    <a href="{% url 'practise' %}" class="back-arrow" aria-label="Go back">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
    </a>

    <h2 class="heading-left">{{ game.title }}</h2>
    
    <p>{{ game.description }}</p>

    <h2 class="heading-left">Develops children's ability to:</h2>
    <ul>
        <li>{{ game.bullet1 }}</li>
        <li>{{ game.bullet2 }}</li>
        <li>{{ game.bullet3 }}</li>
    </ul>

    <h2 class="heading-left">How to Choose the Right Level:</h2>
    <p>{{ game.learninglevel1 }}</p>
    <p>{{ game.learninglevel2 }}</p>

    {% comment %}
    <!-- YouTube video embed -->
    <div class="video-wrapper">
        <iframe 
            src="https://www.youtube.com/embed/{{ game.video_id }}" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
    {% endcomment %}

    <!-- Start button -->
    <div class="description-button-wrapper">
        <a href="{% static 'exercises/'|add:game.static_name|add:'/index.html' %}" target="_blank" class="btn btn--green btn--large">
            START
        </a>
    </div>
</div>
{% endblock %}