{% extends 'base.html' %}

{% block title %}
{{ game.title }}
{% endblock %}

{% block content %}
    <h1>{{ game.title }}</h1>
    <p>{{ game.description }}</p>
    <p>{{ game.description2 }}</p>
    <h1>Video Example</h1>

    <!-- YouTube video embed -->
    <div class="video-wrapper">
        <iframe 
            src="https://www.youtube.com/embed/{{ game.video_id }}" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>

    <!-- Start button -->
    <div class="start-button-wrapper">
        <a href="{{ game.link }}" target="_blank" class="start-button">Start</a>
    </div>
{% endblock %}