{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="hero-section">
    <h1>The new way to practise<br>speech therapy at home!</h1>
</header>
<div class="content-layout">
    <div class="image-container">
        <img src="{% static 'images/arlo.png' %}" alt="Arlo the armadillo">
    </div>
    <div class="button-container">
        <a href="/register/" class="btn btn-primary">Get Started</a>
        <a href="/login/" class="btn btn-secondary">Login</a>
    </div>
</div>
{% comment %} <footer>
    <p>&copy; 2025 littleTalk. All rights reserved.</p>
</footer> {% endcomment %}
{% endblock %}