<!-- templates/landing.html -->
{% extends "landing_base.html" %}
{% load static %}

{% block content %}

{% comment %} initial view {% endcomment %}
<div class="landing-container">
    <div class="landing-left">
        <div class="text-widget">
            <h1 class="header">Speech and Language Support Made Simple</h1>
            <p class="body-text">A powerful new app offering evidence-based speech and language activities <strong>for children aged 2–11 with speech and language needs</strong>.</p>
            {% comment %} <p class="body-text">Take the prep out of delivering speech and language interventions and enjoy fun and engaging activities.</p> {% endcomment %}
            <p class="small-text"><strong>for Special Needs Coordinators, Teaching Staff, and Parents.</strong></p>
            <div class="button-group">
                <a href="/account-setup/" class="cta-button main-button">Get Started</a>
                <a href="/login/" class="cta-button white-button main-button">I already have an account</a>
            </div>
        </div>
    </div>
    <div class="landing-right">
        <div class="image-wrapper">
            <img src="{% static 'images/landing/exercise_shots.png' %}" class="hero-img" alt="Hero Image">
        </div>
    </div>
</div>
{% comment %} first content bar {% endcomment %}
{% comment %} <div class="content-bar">
    <h2 class="content-bar-heading">How Does it Work?</h2>
    <div class="content-items">
        <div class="content-item">
            <img src="{% static 'images/landing/arlo_butterfly.png' %}" alt="Evidence-based" class="content-icon">
            <h3 class="content-title">Find your child's starting point</h3>
            <p class="content-text">Fill out our 5-minute questionairre to help us understand your child's needs</p>
        </div>
        <div class="content-item">
            <img src="{% static 'images/landing/arlo_book.png' %}" alt="Evidence-based" class="content-icon">
            <h3 class="content-title">Receive personalised recommendations</h3>
            <p class="content-text">Allow our app to automatically recommend you your first exercises to work on based on your results</p>
        </div>
        <div class="content-item">
            <img src="{% static 'images/landing/arlo_talking.png' %}" alt="Evidence-based" class="content-icon">
            <h3 class="content-title">Start seeing results in just two weeks!</h3>
            <p class="content-text">Our users have seen amazing results with just two weeks of daily practise</p>
        </div>
    </div>
</div> {% endcomment %}
{% comment %} Amy intro section {% endcomment %}
{% comment %} <div class="content-split">
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/amy_founder.webp' %}" alt="amy" />
        </div>
        <div class="content-split-text">
            <h2 class="split-heading">Hi, I'm Amy.</h2>
            <p class="split-body">
                I'm a licensed Speech and Language Therapist and co-founder of Chatterdillo.
            </p>
            <p class="split-body">           
                In schools, it can be frustrating when a child is struggling to communicate and staff aren’t sure where to begin, how to offer the right support, or feel stuck waiting for external input.
            </p>
            <p class="split-body">
                I first experienced this while working as a one-to-one assistant, supporting a child with Down’s Syndrome. I was given a pack of speech and language exercises without any guidance on how to implement them. Even with my training, I felt unsure and anxious because I cared deeply about doing the right thing. That experience helped me understand how overwhelming it can be for school staff who want to help but don’t have the tools or support.
            </p>
            <p class="split-body">
                This is why we created Chatterdillo: to empower educators with accessible, evidence-based resources that make it easy to build children’s speech and language skills in the classroom, with confidence and clarity.
            </p>
        </div>
    </div>
</div> {% endcomment %}
{% comment %} Benefits Section {% endcomment %}
<div class="content-split white">
    <div class="content-split-header">
        <p class="split-subtitle">
            Guided activities help students build language skills and confidence in communication.
        </p>
        <h2 class="split-heading">
            Support Every Child in Finding Their Words<br>One Day at a Time
        </h2>
    </div>
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/chatterdillo_exercises.png' %}" alt="Flexible routines"/>
        </div>
        <div class="content-split-text">
            <h3 class="split-small-heading">Deliver Interventions Quickly—Anytime</h3>
            <p class="split-body">
                Busy schedule? We get it. Let our app recommend suitable exercises using our in-built screener and deliver them directly through the platform - no training, no prep.
            </p>
            <h3 class="split-small-heading">Made by Speech and Language Therapists</h3>
            <p class="split-body">
                Developed by licensed Speech and Language Therapists, our activities are evidence-based, easy to implement, and designed to support meaningful progress.
            </p>
            <h3 class="split-small-heading">Easy for You, Fun for Them</h3>
            <p class="split-body">
                Students learn through play by earning EXP points as they practise - turning speech and language therapy into a game they want to play. It’s motivating, rewarding, and totally child-friendly.
            </p>
            <p class="split-body">
                <strong><a href="/method/" class="text-link">Learn more about our method ></a></strong>
            </p>
        </div>
    </div>
</div>
{% comment %} Benefits Section 2 {% endcomment %}
<div class="content-split white content-split-reverse">
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/chatterdillo_tools.png' %}" alt="Flexible routines"/>
        </div>
        <div class="content-split-text">
            <h3 class="split-small-heading">3x Faster Progress with frequent Speech and Language Practise</h3>
            <p class="split-body">
                Research shows that consistent, high-frequency practice can triple the rate of learning in speech and language development!
            </p>
            <h3 class="split-small-heading">Boost Productivity, Improve Outcomes</h3>
            <p class="split-body">
                Support more children, more often with streamlined tools and ready-to-use resources. Parents can also securely access practice activities from home using a unique access code, reinforcing progress and increasing impact between sessions.
            </p>
            <h3 class="split-small-heading">Keep Staff Aligned and Informed</h3>
            <p class="split-body">
                Track progress in real time and ensure team coordinators and support staff stay informed about each child’s development and support plan.
            </p>
            <p class="split-body">
                <strong><a href="/account-setup/" class="text-link">Set up an account ></a></strong>
            </p>
        </div>
    </div>
</div>
<div class="content-split reduce-padding-bottom">
    <div class="content-split-header">
        <h2 class="split-heading">
            Chatter from Our Community 💬
        </h2>
    </div>
    <div class="content-split-main">
        <div class="content-split-text">
            <p class="split-body"><strong>
                Children WANT to go on Chatterdillo! They enjoy the platform and find it fun to complete the activities. It’s so user-friendly, easy to add children, easy for them to access, and the support from the LittleTalk team is fantastic. It’s absolutely worth using in school.
            </strong></p>
            <p class="split-body">
                Corrine,<br>SENDCo - South View Primary School
            </p>
        </div>
        <div class="content-split-text">
            <p class="split-body"><strong>
                Using the app for just 10 minutes a day with my 2 year old has made a real difference. He is much more interested in trying to speak, even if the words aren’t always clear yet. We’ve seen some early successes, but most importantly, his motivation to talk and engage has grown massively. He loves the interactive activities and he always laughs at the voice on the app while trying his best to copy it. It’s become a fun part of our day.
            </strong></p>
            <p class="split-body">
                Danni,<br>Parent
            </p>
        </div>
    </div>
</div>
{% comment %} more testimonials {% endcomment %}
<div class="content-bar yellow reduce-padding-top">
    <div class="content-items">
        <div class="content-item">
            {% comment %} <img src="{% static 'images/landing/arlo_butterfly.png' %}" alt="Evidence-based" class="content-icon"> {% endcomment %}
            <h3 class="content-title">"This is a huge need in our work and a great help for parents"</h3>
            <p class="content-text">Jeremy, CEO of Talkback - Autism Support</p>
        </div>
        <div class="content-item">
            {% comment %} <img src="{% static 'images/landing/arlo_book.png' %}" alt="Evidence-based" class="content-icon"> {% endcomment %}
            <h3 class="content-title">"I had begun to lose hope that my son would ever be interested in talking"</h3>
            <p class="content-text">Grace, Parent</p>
        </div>
        <div class="content-item">
            {% comment %} <img src="{% static 'images/landing/arlo_talking.png' %}" alt="Evidence-based" class="content-icon"> {% endcomment %}
            <h3 class="content-title">"It's engaging, family-friendly and easy to navigate"</h3>
            <p class="content-text">Amelia, Speech and Language Therapist</p>
        </div>
    </div>
</div>
{% comment %} final call to action footer {% endcomment %}
<div class="footer-cta">
    <h1 class="footer-heading">Let’s Build Language Skills Together!</h1>
    {% comment %} <button class="footer-cta-button">Begin Your Free Assessment</button> {% endcomment %}
    <a href="/account-setup/" class="cta-button main-button">Get Started</a>
    <div class="footer-icon-wrapper">
        <img src="{% static 'images/landing/arlo_waving.png' %}" alt="Chatterdillo icon" class="footer-icon">
    </div>
</div>

{% endblock %}