<!-- templates/landing.html -->
{% extends "landing_base.html" %}
{% load static %}

{% block content %}
{% comment %} initial view {% endcomment %}
<div class="landing-container">
    <div class="landing-left">
        <div class="text-widget">
            <h1 class="header">Help Your Child's Speech & Language Grow - From Home</h1>
            <p class="body-text">Simple, evidence-based speech and language exercises that fit easily into your day - just 10 minutes a day, right from home.</p>
            <p class="small-text">Starting at £8.25/month</p>
            <button class="cta-button">Begin your free assessment</button>
        </div>
    </div>
    <div class="landing-right">
        <div class="image-wrapper">
            <img src="{% static 'images/landing/exercise_shots.png' %}" class="hero-img" alt="Hero Image">
        </div>
    </div>
</div>
{% comment %} first content bar {% endcomment %}
<div class="content-bar">
    <h2 class="content-bar-heading">Early Intervention Matters</h2>
    <div class="content-items">
        <div class="content-item">
            <img src="{% static 'images/arlo.png' %}" alt="Evidence-based" class="content-icon">
            <h3 class="content-title">Quality of Life</h3>
            <p class="content-text">Empowers children to communicate clearly, enriching their relationships and enhancing overall happiness.</p>
        </div>
        <div class="content-item">
            <img src="{% static 'images/arlo.png' %}" alt="Evidence-based" class="content-icon">
            <h3 class="content-title">Access to Education</h3>
            <p class="content-text">Helps children confidently participate in the classroom, ensuring they fully benefit from educational opportunities.</p>
        </div>
        <div class="content-item">
            <img src="{% static 'images/arlo.png' %}" alt="Evidence-based" class="content-icon">
            <h3 class="content-title">Confidence & Independence</h3>
            <p class="content-text">Builds children’s self-esteem and independence, equipping them to express themselves boldly in everyday situations.</p>
        </div>
    </div>
</div>
{% endblock %}