<!-- templates/landing.html -->
{% extends "landing_base.html" %}
{% block title %}LittleTalk | Method{% endblock %}
{% load static %}

{% block content %}
{% comment %} What is Blank level Questions {% endcomment %}
<div class="content-split">
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/learning_at_home.png' %}" alt="amy" />
        </div>
        <div class="content-split-text">
            <h2 class="split-heading">Supporting Children's Communication - Made Simple</h2>
            <p class="split-body">
                Speech and language development can feel complex, but with the right guidance, consistency and opportunities for connection, you can see real progress through everyday interactions, play, and learning.
            </p>
            <p class="split-body">           
                At LittleTalk, we believe in using simple, research based methods to target language development. Our exercises are designed around <strong>Blank's Levels of Questioning</strong> <i>(Blank, Rose & Berlin, 1978)</i>
                - a model widely used by Speech and Language Therapists to strengthen verbal reasoning and abstract language skills.
            </p>
            <p class="split-body">
                The activities in LittleTalk are tailored to help children build confidence in responding to different types of questions. As progress is made, your child will progress to more advanced exercises. All activities include variable difficulty levels, engaging sounds, and interactive elements designed to maintain motivation and enjoyment.
            </p>
            <p class="split-body">
                Children develop their abilities step-by-step - from answering basic questions like <i>“What is this?”</i> to responding to more complex, abstract ones like <i>“Why do we need an umbrella?</i>”
            </p>
        </div>
    </div>
</div>
<div class="content-split text-only white">
    <div class="content-split-text">
        <div class="content-split-header">
            <h2 class="split-heading">
                Our Exercises
            </h2>
            <p class="split-subtitle">
                Activities designed by licensed speech and language therapists - so you know that they are effective, trustworthy, and made with your child's success in mind.
            </p>
        </div>

        {% comment %} COLOURFUL SEMANTICS {% endcomment %}
        {% with game=game_descriptions.colourful_semantics %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Develops ability to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/colourful_semantics_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}

        {% comment %} THINK AND FND {% endcomment %}
        {% with game=game_descriptions.think_and_find %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Develops ability to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/think_and_find_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}

        {% comment %} CATEGORISATION {% endcomment %}
        {% with game=game_descriptions.categorisation %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Develops ability to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/categoristaion_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}

        {% comment %} STORY TRAIN {% endcomment %}
        {% with game=game_descriptions.story_train %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Develops ability to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/story_train_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}
    </div>
    </p>
</div>
{% comment %} final call to action footer {% endcomment %}
<div class="footer-cta">
    <h1 class="footer-heading">Ready to start supporting your child?</h1>
    {% comment %} <button class="footer-cta-button">Begin Your Free Assessment</button> {% endcomment %}
    <button class="cta-button start-assessment-btn">Find your child's starting point</button>
    <div class="footer-icon-wrapper">
        <img src="{% static 'images/landing/arlo_waving.png' %}" alt="LittleTalk icon" class="footer-icon">
    </div>
</div>
{% endblock %}