<!-- templates/landing.html -->
{% extends "landing_base.html" %}
{% load static %}

{% block content %}
{% comment %} What is Blank level Questions {% endcomment %}
<div class="content-split">
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/learning_at_home.png' %}" alt="amy" />
        </div>
        <div class="content-split-text">
            <h2 class="split-heading">Helping Your Child Talk - Made Simple</h2>
            <p class="split-body">
                Speech and Language Therapy is a complex practise, but you can still support your child's communication at home. With the right guidance, consistency 
                and a bit of patience, real progress can happen through everyday play and connection!
            </p>
            <p class="split-body">           
                At LittleTalk, we believe in using simple, research based methods to target language development. Our exercises are designed around Blank's Levels of Questioning developed by Blank, Rose and Berlin in 1978.
                This model has been used by Speech and Language Therapists to consistently develop children's verbal reasoning and abstract language capabilities.
            </p>
            <p class="split-body">
                Our exercises are designed and tailored to support children develop their answers to Blank's questions. Each exercise targets a different Blank's level to aid your child's development. 
                You will see them develop their abilities step-by-step, from answering basic questions like “What is this?” through to answering more complex questions that require abstract answers like “Why do we need an umbrella?”.
            </p>
        </div>
    </div>
</div>
<div class="content-split text-only white">
    <div class="content-split-text">
        <div class="content-split-header">
            <h2 class="split-heading">
                Our Exercises
            </h2>
            <p class="split-subtitle">
                Activities designed by licensed speech and language therapists - so you know that they are effective, trustworthy, and made with your child's success in mind.
            </p>
        </div>

        {% comment %} COLOURFUL SEMANTICS {% endcomment %}
        {% with game=game_descriptions.colourful_semantics %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Your child will learn how to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/colourful_semantics_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}

        {% comment %} THINK AND FND {% endcomment %}
        {% with game=game_descriptions.think_and_find %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Your child will learn how to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/think_and_find_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}

        {% comment %} CATEGORISATION {% endcomment %}
        {% with game=game_descriptions.categorisation %}
        <h3 class="split-heading">{{ game.title }} - {{ game.target }}</h3>
        <p class="split-body">{{ game.description }}</p>
        <p class="split-body"><strong>Your child will learn how to:</strong></p>

        <ul class="split-list">
            <li>{{ game.bullet1 }}</li>
            <li>{{ game.bullet2 }}</li>
            <li>{{ game.bullet3 }}</li>
        </ul>
        <div class="inline-full-image">
            <img src="{% static 'images/landing/categoristaion_screenshot.png' %}" alt="LittleTalk Demo">
        </div>
        {% endwith %}

        {% comment %} COMING SOON {% endcomment %}
        <h3 class="split-heading">Story Train - Sequencing & Predicting</h3>
        <p class="split-body">
            Coming soon!
        </p>
    </div>
    </p>
</div>
{% comment %} final call to action footer {% endcomment %}
<div class="footer-cta">
    <h1 class="footer-heading">Ready to start supporting your child?<br>Get Started with our Free Exercises</h1>
    {% comment %} <button class="footer-cta-button">Begin Your Free Assessment</button> {% endcomment %}
    <a href="/register/" class="footer-cta-button">Get Started</a>
    <div class="footer-icon-wrapper">
        <img src="{% static 'images/landing/arlo_waving.png' %}" alt="LittleTalk icon" class="footer-icon">
    </div>
</div>
{% endblock %}