{% extends 'base.html' %}
{% load static %}

{% block title %}
Practice Page
{% endblock %}

{% block content %}
<!-- Learner not Selected -->
{% if learner_selected != True %}
    <h2>No Learner Selected</h2>
    <p>Please add or select a learner in the profile section to get started.</p>
    <a href="{% url 'profile' %}" class="button">Go to Profile</a>
<!-- Learner Selected -->
{% else %}
    <h2>Welcome back {{ selected_learner.name }}!<br>Here are your recommended exercises for today:</h2>
    
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'images/colour_semantics_icon_bg.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <h3>Sentence Building - Colourful Semantics</h3>
            <p>Repetitions: 15 (Approx. 10 minutes)</p>
            <p>Difficulty: {{ selected_learner.assessment2 }}/6</p>
            <a href="{% url 'game_description' 'colourful_semantics' %}" class="button exercise-btn">Get Started</a>
        </div>
    </div>
{% endif %}
{% endblock %}