{% extends 'base.html' %}
{% load static %}

{% block title %}Practise - LittleTalk{% endblock %}

{% block content %}
<!-- Learner not Selected -->
{% if learner_selected != True %}
    <h2>Welcome to the practise section! 👩‍🏫</h2>
    <p>Here, you will be able to access exercises and information to use on your learning journey.</p>
    <p>To get started, add or select a learner in the profile section and come back!</p>
    <a href="{% url 'profile' %}" class="btn btn-primary" style="width: 250px; text-align: center;">Go to Profile</a>
<!-- Learner Selected -->
{% else %}
    <h2>Welcome back {{ selected_learner.name }}!</h2>
    <h2>Here are your recommended exercises:</h2>
    
    {% comment %} COLOURFUL SEMANTICS {% endcomment %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/colour_semantics_icon_bg.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <h3>Sentence Building - Colourful Semantics</h3>
            <p><strong>Recommendation:</strong> 5-10 minutes per day</p>
            {% comment %} <p>Difficulty: {{ selected_learner.assessment2 }}/6</p> {% endcomment %}
            <!-- Buttons Wrapper -->
            <div class="exercise-buttons">
                <a href="{% static 'exercises/colourful_semantics/index.html' %}" target="_blank" class="button exercise-btn">START</a>
                <a href="{% url 'game_description' 'colourful_semantics' %}" class="button info-btn">More Info</a>
            </div>
        </div>
    </div>

    {% comment %} THINK & FIND {% endcomment %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/think_and_find_icon.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <h3>Distinguishing - Think and Find</h3>
            {% if selected_learner.assessment1 < 2 %}
                <p>This exercise will be unlocked as you progress.</p>
                <a class="button exercise-btn locked-btn">Locked</a>
            {% else %}
                <p><strong>Recommendation:</strong> 5-10 minutes per day</p>
                <div class="exercise-buttons">
                    <a href="{% static 'exercises/think_and_find/index.html' %}" target="_blank" class="button exercise-btn">START</a>
                    <a href="{% url 'game_description' 'think_and_find' %}" class="button info-btn">More Info</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% comment %} CATEGORISATAION {% endcomment %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/categorisation_icon.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <h3>Sorting into Groups - Categorisation</h3>
            {% if selected_learner.assessment1 < 3 %}
                <p>This exercise will be unlocked as you progress.</p>
                <a class="button exercise-btn locked-btn">Locked</a>
            {% else %}
                <p><strong>Recommendation:</strong> 5-10 minutes per day</p>
                <div class="exercise-buttons">
                    <a href="{% static 'exercises/categorisation/index.html' %}" class="button exercise-btn">START</a>
                    <a href="{% url 'game_description' 'categorisation' %}" class="button info-btn">More Info</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}