{% extends 'base.html' %}
{% load static %}

{% block title %}Chatterdillo | Practise{% endblock %}

{% block content %}
<!-- Learner not Selected -->
{% if learner_selected != True %}
    <h1>Welcome to the practise section!</h1>
    <div class="container-box container--short">
        <p>Here, you will be able to access exercises and information to use on your learning journey.</p>
        <p>To get started, add or select a learner in the profile section and come back!</p>
        <a href="{% url 'profile' %}" class="btn btn--white btn--full">Go to Learner Selection</a>
    </div>
<!-- Learner Selected -->
{% else %}
    {% comment %} <h1>What would you like to work on today?</h1> {% endcomment %}
    {% comment %} <h2>Practising with: {{ selected_learner.name }}</h2> {% endcomment %}
    {% if recommendation %}
        <div class="recommendation-box">
            <div class="recommendation-content">
                <div class="recommendation-text">
                    <h2 class="heading-left">{{ selected_learner.name }}'s recommended exercises:</h2>
                    <div class="skills-list">
                        <ul>
                            {% for ex in recommendation.exercises %}
                            <li>{{ ex }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p>
                        Your focus should be <strong>{{ recommendation.focus }}.</strong>
                        {% if recommendation.nextlevel %}
                        Once you feel confident with that exercise, try starting <strong>{{ recommendation.nextlevel }}</strong>.
                        {% endif %}
                    </p>
                </div>
                <div class="recommendation-mascot">
                    <img src="{% static 'images/landing/arlo_butterfly.png' %}" alt="Arlo playing with a butterfly">
                </div>
            </div>
            <div class="recommendation-info">
                <span class="info-icon">i</span>
                <p>
                    If an exercise feels too difficult, don't panic, just keep working on the earlier ones to strengthen your foundation.
                </p>
            </div>
        </div>
        {% else %}
        <div class="recommendation-box">
            <div class="recommendation-content">
                <div class="recommendation-text">
                    <h2 class="heading-left">Need a hand choosing exercises?</h2>
                    <p>
                        We couldn't find any recommendations for <strong>{{ selected_learner.name }}</strong>.<br>
                        Complete our <strong>screener</strong> to receive tailored exercise recommendations.
                    </p>
                    <a href="{% url 'start_assessment' %}" class="btn btn--white btn--small">
                        Learner Screener
                    </a>
                </div>
                <div class="recommendation-mascot">
                    <img src="{% static 'images/landing/arlo_butterfly.png' %}" alt="Arlo playing with a butterfly">
                </div>
            </div>
        </div>
    {% endif %}
      
    {% comment %} COLOURFUL SEMANTICS {% endcomment %}
    {% with game=game_descriptions.colourful_semantics %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/colour_semantics_icon_bg.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <div class="exercise-title">
                <h3>{{ game.title }} - {{ game.target }}</h3>
            </div>
            <p><strong>Develops ability to:</strong></p>
            <div class="skills-list">
                <ul>
                    <li>{{ game.bullet1 }}</li>
                    <li>{{ game.bullet2 }}</li>
                    <li>{{ game.bullet3 }}</li>
                </ul>
            </div>
            {% comment %} <p>Difficulty: {{ selected_learner.assessment2 }}/6</p> {% endcomment %}
            <!-- Buttons Wrapper -->
            <div class="exercise-buttons">
                <a href="{% static 'exercises/colourful_semantics/index.html' %}" class="btn btn--green btn--small btn--short">START</a>
                <a href="{% url 'game_description' 'colourful_semantics' %}" class="btn btn--white btn--small btn--short">Exercise Guide</a>
            </div>
        </div>
    </div>
    {% endwith %}

    {% comment %} THINK & FIND {% endcomment %}
    {% with game=game_descriptions.think_and_find %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/think_and_find_icon.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <div class="exercise-title">
                <h3>{{ game.title }} - {{ game.target }}</h3>
            </div>
            {% if selected_learner.assessment1 < 0 %}
                <p>This exercise will be unlocked as you progress.</p>
                <a class="button exercise-btn locked-btn">Locked</a>
            {% else %}
                <p><strong>Develops ability to:</strong></p>
                <div class="skills-list">
                    <ul>
                        <li>{{ game.bullet1 }}</li>
                        <li>{{ game.bullet2 }}</li>
                        <li>{{ game.bullet3 }}</li>
                    </ul>
                </div>
                <div class="exercise-buttons">
                    <a href="{% static 'exercises/think_and_find/index.html' %}" class="btn btn--green btn--small btn--short">START</a>
                    <a href="{% url 'game_description' 'think_and_find' %}" class="btn btn--white btn--small btn--short">Exercise Guide</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endwith %}

    {% comment %} CATEGORISATAION {% endcomment %}
    {% with game=game_descriptions.categorisation %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/categorisation_icon.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <div class="exercise-title">
                <h3>{{ game.title }} - {{ game.target }}</h3>
            </div>
            {% if selected_learner.assessment1 < 0 %}
                <p>This exercise will be unlocked as you progress.</p>
                <a class="button exercise-btn locked-btn">Locked</a>
            {% else %}
                <p><strong>Develops ability to:</strong></p>
                <div class="skills-list">
                    <ul>
                        <li>{{ game.bullet1 }}</li>
                        <li>{{ game.bullet2 }}</li>
                        <li>{{ game.bullet3 }}</li>
                    </ul>
                </div>
                <div class="exercise-buttons">
                    <a href="{% static 'exercises/categorisation/index.html' %}" class="btn btn--green btn--small btn--short">START</a>
                    <a href="{% url 'game_description' 'categorisation' %}" class="btn btn--white btn--small btn--short">Exercise Guide</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endwith %}

    {% comment %} STORY TRAIN {% endcomment %}
    {% with game=game_descriptions.story_train %}
    <div class="exercise-widget">
        <div class="exercise-image">
            <img src="{% static 'icons/story_train_icon.png' %}" alt="Sentence Building">
        </div>
        <div class="exercise-details">
            <div class="exercise-title">
                <h3>{{ game.title }} - {{ game.target }}</h3>
            </div>
            {% if selected_learner.assessment1 < 0 %}
                <p>This exercise will be unlocked as you progress.</p>
                <a class="button exercise-btn locked-btn">Locked</a>
            {% else %}
                <p><strong>Develops ability to:</strong></p>
                <div class="skills-list">
                    <ul>
                        <li>{{ game.bullet1 }}</li>
                        <li>{{ game.bullet2 }}</li>
                        <li>{{ game.bullet3 }}</li>
                    </ul>
                </div>
                <div class="exercise-buttons">
                    <a href="{% static 'exercises/story_train/index.html' %}" class="btn btn--green btn--small btn--short">START</a>
                    <a href="{% url 'game_description' 'story_train' %}" class="btn btn--white btn--small btn--short">Exercise Guide</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endwith %}

{% endif %}
{% endblock %}