{% extends "base.html" %}

{% block title %}Profile - LittleTalk{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Welcome back {{ request.user.first_name }}!<br>Who's learning today?</h2>
    
    <!-- Display learners if there are any -->
    <div class="learners-list">
        {% if learners %}
            <ul>
                {% for learner in learners %}
                    <li class="learner-item">
                        <div class="learner-details">
                            <p>{{ learner.name }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No learners added yet. Click "Add Learner" to start!</p>
        {% endif %}
    </div>

    <!-- Add Learner Button -->
    <div class="add-learner-btn">
        <a href="{% url 'add_learner' %}" class="button">+ Add Learner</a>
    </div>
</div>
{% endblock %}