<!-- templates/landing.html -->
{% extends "landing_base.html" %}
{% block title %}LittleTalk | Schools{% endblock %}
{% load static %}

{% block content %}

{% comment %} initial view {% endcomment %}
<div class="landing-container">
    <div class="landing-left">
        <div class="text-widget">
            <h1 class="header">Speech and Language Support That Saves Your School Time, Budget and Prep</h1>
            <p class="body-text">LittleTalk is a web app designed by Speech and Language Therapists to help schools provide speech and language support for children aged 2-11. </p>
            <p class="body-text">Our app recommends evidence-based exercises based on an in-app assessment, enabling staff to deliver high-quality SEN interventions directly through the platform - <strong>no specialist training or heavy prep required.</strong></p>
            <p class="small-text"><strong>If you are interested in using LittleTalk at your School, please get in touch.</strong></p>
            <div class="button-group">
                <a href="/support/" class="cta-button white-button main-button" target="_blank">Get in Touch</a>
            </div>
        </div>
    </div>
    <div class="landing-right">
        <div class="image-wrapper">
            <img src="{% static 'images/landing/exercise_shots.png' %}" class="hero-img" alt="Hero Image">
        </div>
    </div>
</div>
{% comment %} first content bar {% endcomment %}
<div class="content-bar content-bar-yellow">
    <p class="split-subtitle">
        LittleTalk helps your school achieve great outcomes while saving time and resources.
    </p>
    <h2 class="content-bar-heading">Why LittleTalk is Different</h2>
    <div class="content-items">
        <div class="content-item">
            <h3 class="content-title">Designed for Busy Classrooms</h3>
            <p class="content-text">With ready-to-use activities, LittleTalk fits seamlessly into your routines, helping staff deliver SEN support without adding to their workload.</p>
        </div>
        <div class="content-item">
            <h3 class="content-title">Keep Staff Aligned</h3>
            <p class="content-text">LittleTalk's shared progress logbook ensures everyone is on the same page for each pupil's support and progress.</p>
        </div>
        <div class="content-item">
            <h3 class="content-title">Do More With Your Resources</h3>
            <p class="content-text">LittleTalk helps your team deliver high-quality support without expensive add-ons like external training or printed materials.</p>
        </div>
    </div>
</div>
{% comment %} Benefits Section {% endcomment %}
<div class="content-split white">
    <div class="content-split-header">
        <p class="split-subtitle">
            All in one secure, easy-to-use platform designed for busy schools.
        </p>
        <h2 class="split-heading">
            App Features
        </h2>
    </div>
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/assessment_screenshot_crop.png' %}" alt="Flexible routines"/>
        </div>
        <div class="content-split-text">
            <h3 class="split-small-heading">In-App Assessment</h3>
            <p class="split-body">
                Quickly identify each child's needs with our easy-to-use, in-app assessment.
            </p>
            <p class="split-body">
                The app automatically recommends exercises, saving your team hours of manual planning.
            </p>
        </div>
    </div>
</div>

<div class="content-split white content-split-reverse content-split-compact">
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/exercises_screenshot_crop.png' %}" alt="Flexible routines"/>
        </div>
        <div class="content-split-text">
            <h3 class="split-small-heading">Tailored Exercise Delivery</h3>
            <p class="split-body">
                Select from app-recommended, evidence-based activities such as Colourful Semantics and deliver them straight from your device - no printing, no prep, no fuss.
            </p>
            <p class="split-body">
                <strong><a href="/method/" class="text-link" target="_blank">Learn more about our program >></a></strong>
            </p>
        </div>
    </div>
</div>

<div class="content-split white">
    <div class="content-split-main">
        <div class="content-split-image">
            <img src="{% static 'images/landing/logbook_screenshot_crop.png' %}" alt="Flexible routines"/>
        </div>
        <div class="content-split-text">
            <h3 class="split-small-heading">Built-in Progress Logbook</h3>
            <p class="split-body">
                Track each child's progress in one place. The logbook keeps all staff in the loop and reduces the need for additional notes, emails, or meetings.
            </p>
        </div>
    </div>
</div>
</div>
{% comment %} final call to action footer {% endcomment %}
<div class="footer-cta">
    <p class="split-subtitle">
        discover how LittleTalk can help your team deliver great SEN support with less effort.
    </p>
    <h1 class="footer-heading">Interested in using LittleTalk <br>at your School?</h1>
    {% comment %} <button class="footer-cta-button">Begin Your Free Assessment</button> {% endcomment %}
    <a href="/support/" class="cta-button start-assessment-btn main-button" target="_blank">Get in Touch</a>
    <div class="footer-icon-wrapper">
        <img src="{% static 'images/landing/arlo_waving.png' %}" alt="LittleTalk icon" class="footer-icon">
    </div>
</div>

{% endblock %}