{% extends "base.html" %}
{% load static %}

{% block title %}Support - LittleTalk{% endblock %}

{% block content %}

<a href="/" class="logo-link">
    <img src="{% static 'images/littletalk_logo.png' %}" alt="LittleTalk Logo" class="logo-img">
</a>

<h1>Help Centre</h1>

<!-- Contact Section -->
<section class="contact-section">
    <h1>Get in Touch</h1>
    <p>The team at LittleTalk is here to help you get the most out of the app. Send us a message!</p>

    <form method="POST" action="{% url 'send_support_email' %}" class="contact-form">
        {% csrf_token %}
        
        <input type="text" id="name" name="name" placeholder="Name" required>
    
        <input type="email" id="email" name="email" placeholder="Email" required>
    
        <textarea id="message" name="message" rows="5" placeholder="Message" required></textarea>
    
        <button type="submit">Send Message</button>
    </form>

    {% if message_sent %}
        <p class="success-message">Thanks for reaching out! We'll be in touch shortly.</p>
    {% endif %}
</section>


<!-- FAQ Section -->
<section class="faq-section">
    <h1>Frequently Asked Questions</h1>
    <div class="faq-item">
        <h3 class="question">Who is this tool for?</h3>
        <div class="answer" style="display: none;">
            This tool is designed for parents of children with speech and language needs. The tool aims to make it easy for parents to practise speech and language development at home through routine exercises. Use our tool to make a start while on the waiting list, or to ensure consistent carry carryover between therapy sessions.
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">What age is this tool for?</h3>
        <div class="answer" style="display: none;">
            LittleTalk is designed to be used by children between the ages of 2 and 11.
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">Okay sounds good, where do I start?</h3>
        <div class="answer" style="display: none;">
            Head on over to our <a href="/tips/" class="text-link">Free Assessment</a> to get started! We will assess whether our programme is a good fit for your child and if they are, you will receive recommended exercises to suit your child's needs.
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">Does LittleTalk help with speech sounds?</h3>
        <div class="answer" style="display: none;">
            We are not currently able to support speech sound disorders or speech sound development. If your child is potentially struggling with a speech sound disorder, your best bet is to talk to your GP or seek out local Speech and Language Therapy services.
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">Is this a replacement for Speech and Language Therapy?</h3>
        <div class="answer" style="display: none;">
            While LittleTalk is a great way to supplement and accellerate children's language development, it should not be considered a replacement for Speech and Language Therapy. The LittleTalk team encourages anyone with speech and language needs to continue seeking traditional Speech and Language Therapy services in addition to using our programme.
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">How should the app be used?</h3>
        <div class="answer" style="display: none;">
            LittleTalk should be used with your child. Parents are encouraged to model language to their child to get the best results. If you're not sure what modelling language means, check out our <a href="/tips/" class="text-link">Free Tips</a>!
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">Do I need to practise daily to see results?</h3>
        <div class="answer" style="display: none;">
            Research shows that frequent learning is three times more likely to lead to improvement in results. For this reason, we encourage users to practise for 10-15 minutes a day, however, we understand that life can get in the way, so please feel free to practise whenever it suits you and your child - it all counts!
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">What exercise learning level should I use?</h3>
        <div class="answer" style="display: none;">
            Colourful Semantics features an Auto button which automatically chooses a learning level to get started. Please adjust manually to match your child's needs as you see fit. For our other exercises, start your learner at the lowest learning level and gradually increase the number of choices to match your child's ability. If you would like to have a personal opinion, please get in touch using the form above.
        </div>
    </div>
    <div class="faq-item">
        <h3 class="question">I'm still unsure about something. Who can I contact for help?</h3>
        <div class="answer" style="display: none;">
            If you would like guidance, please get in contact with our Speech and Language Team using the form above. Our team is here to help you get the most out of our programme and we love hearing from you!
        </div>
    </div>
</section>

{% comment %} interactive FAQ {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const questions = document.querySelectorAll('.question');

        questions.forEach(question => {
            question.style.cursor = 'pointer';
            question.addEventListener('click', () => {
                const answer = question.nextElementSibling;

                if (answer.style.display === 'none' || !answer.style.display) {
                    answer.style.display = 'block';
                } else {
                    answer.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}