# Django
littleTalk/settings.py
*.sqlite3
.env
media/
staticfiles/
staticfiles_test/

# Python
littletalkvenv/
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/