{% extends "base.html" %}

{% block title %}LittleTalk | Logbook{% endblock %}

{% block content %}
<h1>Logbook</h1>
<div class="container-box pt-70">
    <a href="{% url 'logbook' %}" class="back-arrow" aria-label="Go back">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
    </a>

    

    <form method="post" class="form-stack">

    <div class="recommendation-info">
        <span class="info-icon">i</span>
        <p>
            Avoid writing identifiable names in any log text.<br>Use the <strong>"Learner"</strong> dropdown to select your learner's name securely.
        </p>
    </div>

    {% csrf_token %}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error-message">{{ field.errors.0 }}</div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn--yellow btn--full">Save Entry</button>
</form>
</div>
{% endblock %}