{% extends 'base.html' %}

{% block title %}Chatterdillo | Edit Learner{% endblock %}

{% block content %}
<h1>Learner Settings</h1>
<div class="container-box pt-70">
    <!-- Back arrow button -->
    <a href="{% url 'profile' %}" class="back-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
    </a>

    <p>
      You are about to delete the learner: <strong>{{ learner.name }}</strong><br>
      <strong>Please note - the following will no longer be acessible:</strong>
    </p>
    
    <ul>
      <li>Any progress and Experience Points</li>
      <li>Log entries associated with the learner</li>
    </ul>
    

    <form method="POST" class="form-stack">
        {% csrf_token %}
        
        <label for="password" class="label">Enter your password to confirm deletion:</label>
        <input type="password" name="password" id="password" required class="input">

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <button type="submit" class="btn btn--red btn--full">Confirm Deletion</button>
    </form>
</div>
{% endblock %}