{% extends 'base.html' %}

{% block title %}Profile - LittleTalk{% endblock %}

{% block content %}
<h1>Edit {{ learner.name }}</h1>
<div class="add-learner-container">
    <!-- Back arrow button -->
    <a href="{% url 'profile' %}" class="back-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
    </a>

    <p>You are about to delete {{ learner.name }}<br>All progress will be lost permanently</p>

    <form method="POST" class="add-learner-form">
        {% csrf_token %}
        <label for="password">Enter your password to confirm delete learner:</label><br>
        <input type="password" name="password" required class="form-input"><br>
        
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <button type="submit" class="submit-btn remove-btn">Confirm Deletion</button>
    </form>
</div>
{% endblock %}