{% extends 'base.html' %}

{% block title %}LittleTalk | Edit Learner{% endblock %}

{% block content %}
<h1>Learner Settings</h1>
<div class="add-learner-container">
    <!-- Back arrow button -->
    <a href="{% url 'profile' %}" class="back-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
    </a>

    <form method="POST" class="add-learner-form">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'start_assessment' %}?retake={{ learner.id }}" class="retake-btn">
        Re-take Assessment
        </a>
        <button type="submit" name="remove" class="submit-btn remove-btn">Remove Learner</button>
        <button type="submit" class="submit-btn">Save Changes</button>
    </form>

</div>
{% endblock %}