{% extends "base.html" %}
{% load static %}

{% block title %}Chatterdillo | Profile{% endblock %}

{% block content %}
<h1>Learner Profile</h1>
<div class="profile-container">
    <!-- Left Column -->
    <div class="left-column">

        {% if request.user.profile.role != 'parent' or learners|length <= 2 %}
            <div class="add-learner-btn">
                <a href="{% url 'add_learner' %}" class="button">+ Add Learner</a>
            </div>
        {% endif %}

        {% if request.user.profile.role != 'parent' %}
            <div class="cohort-filter-widget">
                <form method="get" action="">
                    <label for="cohort"><strong>Cohort:</strong></label>
                    <select name="cohort" id="cohort" onchange="this.form.submit()">
                        <option value="">-- All Cohorts --</option>
                        {% for cohort in cohorts %}
                            <option value="{{ cohort.id }}" {% if cohort.id == selected_cohort %}selected{% endif %}>
                                {{ cohort.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        {% endif %}

        <div class="learners-list">
            {% if learners %}
                <ul>
                    {% for learner in learners %}
                        <li class="learner-item">
                            <form method="POST" action="{% url 'select_learner' %}">
                                {% csrf_token %}
                                <button type="submit" name="learner_id" value="{{ learner.id }}" 
                                        class="learner-button {% if learner.id == selected_learner.id %}selected{% endif %}">
                                    {{ learner.name }}
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <!-- Right Column -->
    <div class="right-column">
        <!-- Learning Level Section -->
        {% if selected_learner %}
            <!-- Total Experience Section -->
            <div class="total-exp-section">
                <h3>Learner Details</h3>
                <p><strong>Name:</strong> {{ selected_learner.name }}</p>
            
                {% if selected_learner.cohort %}
                    <p><strong>Cohort:</strong> {{ selected_learner.cohort }}</p>
                {% endif %}
            
                <p><strong>Total Experience:</strong>
                    {% if selected_learner.exp %}
                        {{ selected_learner.exp }}
                    {% else %}
                        No experience recorded.
                    {% endif %}
                </p>
            
                <p><strong>Exercises Completed:</strong>
                    {% if selected_learner.total_exercises %}
                        {{ selected_learner.total_exercises }}
                    {% else %}
                        No exercises recorded.
                    {% endif %}
                </p>
                {% if request.user.profile.role == 'parent' and selected_learner.school_id %}
                    <div class="recommendation-info mb-20">
                        <span class="info-icon">i</span>
                        <p>
                            Parent-Access - This learner is being managed by {{ selected_learner.school.name }}
                        </p>
                    </div>
                {% endif %}
            </div>
            <!-- Edit Learner Button SCHOOL AND STANDALONE ONLY -->
            {% if request.user.profile.role != 'parent' or not selected_learner.school_id %}
                <div class="edit-learner-btn">
                    <a href="{% url 'edit_learner' selected_learner.learner_uuid %}" class="button">Learner Settings</a>
                </div>
            {% endif %}

            <!-- Screener Button -->
            <div class="edit-learner-btn">
                <a href="{% url 'screener' %}" class="button">Screener</a>
            </div>

            <!-- Generate Access Code Button SCHOOL ONLY -->
            {% if request.user.profile.role != 'parent' %}
                <div class="edit-learner-btn">
                    <a href="{% url 'view_parent_token' selected_learner.learner_uuid %}" class="button">Parent Invite</a>
                </div>
            {% endif %}
        {% endif %}
        <!-- Susbcription details - PARENT ONLY -->
        <div class="total-exp-section">
            {% if request.user.profile.role == 'parent' %}
                <div class="edit-learner-btn">
                    <h3>Subscription</h3>
                    <p>
                        {% if is_subscribed %}
                            Active Parent Plan - 3 Learners
                        {% elif on_trial %}
                            Free Trial - {{ trial_days_left }} days left
                        {% else %}
                            Inactive
                        {% endif %}
                    </p>
                    <a href="{% url 'manage_subscription' %}" class="btn btn--white btn--small mb-20">Manage Subscription</a>
                </div>
            {% endif %}
        </div> 
    </div>
</div>
{% endblock %}