.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: var(--accent-color);
    border-radius: var(--border-radius-light);
    box-shadow: var(--box-shadow);
}

.register-link-container {
    text-align: center;
}

.error-message {
    color: var(--button-red);
    text-align: center;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-container .logo {
    max-width: 150px;
    height: auto;
}

.register-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* account setup */

.account-setup-wider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    box-sizing: border-box;
    width: 100%;
}

.account-setup-container {
    text-align: center;
}

.card-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}

.setup-card {
    text-decoration: none;
}

.setup-card-inner {
    border-radius: 16px;
    padding: 30px 20px;
    width: 250px;
    height: 140px;
    background-color: white;
    color: var(--font-color);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.setup-card-inner h2 {
    font-size: 1.5rem;
}

.setup-card-inner:hover {
    background-color: var(--font-color);
    transform: translateY(-5px);
    color: white;
}

.setup-card-inner:hover h3,
.setup-card-inner:hover p {
    color: white;
}

@media (max-width: 800px) {
    .setup-card-inner {
        padding: 15px 10px;
        width: 130px;
        height: 100px;
    }

    .setup-card-inner h2 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .setup-card-inner p {
        font-size: 0.7rem;
    }

    .card-row {
        gap: 20px;
    }
}