/* -----------------------------
   FAQ
------------------------------ */

.faq-item {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.faq-item:last-child {
    border-bottom: none;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
}

.answer {
    color: var(--font-color);
    margin-top: 5px;
}

/* -----------------------------
   Logo Top Left
------------------------------ */

.logo-link {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1000;
}

.logo-img {
    height: 42px;
    width: auto;
}

/* -----------------------------
   Contact Form
------------------------------ */

.success-message {
    margin-top: 15px;
    color: var(--button-green);
    font-weight: bold;
}