:root {
    --background-color: #8BC2FF;
    /* --background-color: #9DC1E9; */
    /* --font-color: #2B3345; */
    --font-color: #200D2A;
    --accent-color: #F2F5F9;
    --accent-color-dark: #9DC1E9;
    --border-grey: #ccc;
    --sidebar-color: #FFE477;
    --yellow-button-color: #FFE477;
    --yellow-button-hover: #ffcc00;
    --button-green: #33DA73;
    --button-hover: #28a659;
    --box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    --border-radius: 30px;
    --border-radius-light: 15px;
    --font-roboto: 'Roboto', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --line-height: 1.5;
    --button-red: #ff4d4d;
    --target-green: #00b894;
    --target-red: #f44336;
    --target-orange: #ff9800;
    --target-neutral: #3498db;
}