:root {
    --background-color: #8BC2FF;
    /* --background-color: #9DC1E9; */
    /* --font-color: #2B3345; */
    --font-color: #200D2A;
    --accent-color: #D7EAFF;
    --accent-color-dark: #9DC1E9;
    --sidebar-color: #FFE477;
    --yellow-button-color: #FFE477;
    --yellow-button-hover: #ffd737;
    --button-green: #33DA73;
    --button-hover: #28a659;
    --box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    --border-radius: 30px;
    --border-radius-light: 15px;
    --font-roboto: 'Roboto', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --line-height: 1.8;
    --button-red: #ff4d4d;
}