{% extends "base.html" %}
{% load static %}

{% block title %}Chatterdillo | Set New Password{% endblock %}

{% block content %}
<div class="login-container">
    <a href="/" class="logo-link">
        <div class="logo-upper-left">
            <img src="{% static 'images/chatterdillo_logo_official.png' %}" alt="Chatterdillo Logo">
        </div>
    </a>

    <h1 style="text-align: center; font-size: 2rem; margin-bottom: 40px;">Choose a new password</h1>

    <form method="post" class="login-form">
        {% csrf_token %}
        <p class="register-intro">
            You've requested a password reset. Please enter a new password below.
        </p>

        <input type="password" name="new_password" id="id_new_password" class="input" placeholder="New Password" data-password-requirements required>
        {% include "partials/password_requirements.html" with password_field_id="id_new_password" %}
        {% if form.new_password.errors %}
            <p class="error-message">{{ form.new_password.errors|join:", " }}</p>
        {% endif %}
        <div style="margin-top:20px;">
            <button type="submit" class="btn btn--yellow btn--full">Save new password</button>
        </div>
    </form>
</div>
<script src="{% static 'non_react_js/password-requirements.js' %}"></script>
{% endblock %}
