{% extends "base.html" %}
{% load static %}

{% block title %}Chatterdillo | Reset Password{% endblock %}

{% block content %}
<div class="login-container">
    <a href="/" class="logo-link">
        <div class="logo-upper-left">
            <img src="{% static 'images/chatterdillo_logo_official.webp' %}" alt="Chatterdillo Logo">
        </div>
    </a>

        <!-- Register Button Top Right -->
    <div class="register-button-container">
        <a href="{% url 'login' %}" class="btn btn--yellow btn--small">Back to Login</a>
    </div>

    <h1>Reset your password</h1>

    <form method="post" class="login-form">
        {% csrf_token %}
        <p class="register-intro">
            Enter your email address below. If a matching email address is found on our system, a link to reset your password will be sent.
        </p>

        {{ form.email }}

        {% if form.email.errors %}
            <p class="error-message">{{ form.email.errors|join:", " }}</p>
        {% endif %}
        <div style="margin-top: 10px;">
            <button type="submit" class="btn btn--yellow btn--full">Send reset link</button>
        </div>
    </form>

</div>
{% endblock %}
