{% extends "base.html" %}
{% load static %}

{% block title %}Chatterdillo | School License{% endblock %}

{% block content %}
<h1>School License</h1>

<div class="container-box container--short text-center">
    <h3>License required to continue</h3>
    <p>Thanks for using Chatterdillo. Your School needs a license to continue. Don’t worry—your data is safe and you still have limited access while we get things sorted</p>

    <div class="pricing-card" style="max-width:560px;">
        <h2>What you can still do</h2>
        <ul>
            <li>Access your learners from the Profile page</li>
            <li>Generate and share Parent Access Codes</li>
            <li>View existing Logbook entries</li>
        </ul>
    </div>

    
    <h3>Renew your license or start a free trial</h3>
    <p>We’d love to get your team fully up and running. Please contact us and we’ll help you renew your access or set you up with a beginner trial</p>

    <a href="{% url 'support' %}"class="btn btn--yellow btn--full">Contact Support</a>

    <a href="{% url 'profile' %}" class="btn btn--white btn--full" style="margin-top: 16px;">Back to Learner Profile</a>
</div>
{% endblock %}