/* Button container styling */
.button-container {
    display: flex; /* Create a vertical layout */
    flex-direction: column; /* Stack buttons vertically */
    gap: 20px; /* Space between buttons */
    align-items: center; /* Center buttons horizontally */
}

.btn {
    text-decoration: none;
    width: 200px;
    text-align: center; /* Center text within buttons */
    font-size: 1.2rem;
    padding: 10px 20px;
    /* border: 1px solid transparent; */
    border: 1.5px solid #ccc;
    color: var(--font-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--font-roboto);
    font-weight: bold;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 1.2;
}

.btn--white { 
    background-color: white;
}

.btn--white:hover { 
    /* background-color: var(--yellow-button-hover);  */
    background-color: var(--font-color);
    color: white;
    border: 1.5px solid var(--font-color);
}

.btn--yellow {
    background-color: var(--yellow-button-color);
}

.btn--yellow:hover {
    background-color: var(--yellow-button-hover);
}

.btn--invisible {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
}

.btn--green { 
    background-color: var(--button-green);
}

.btn--green:hover { 
    background-color: white;
    color: var(--button-green);
    border: 1px solid var(--button-green);
}

.btn--red { 
    background-color: white; 
    color: var(--font-color)
}

.btn--red:hover { 
    background-color: var(--button-red);
    color: white;
}

.btn--border {
    border: 2px solid solid rgba(0, 0, 0, 0.527);
    border-radius: 20px;
    box-shadow: none;
}

.btn--hover-font-color:hover {
    background-color: var(--font-color);
    color: white;
}

/* modifiers */
.btn--full,
.btn--block {
    width: 100%;
    display: block;
    max-width: 100%;     /* Prevent overflow */
    box-sizing: border-box; /* Include padding in width */
}

.btn--auto {
    width: auto;
}

.btn--small { 
    font-size: 1rem; 
}

.btn--table {
    font-size: 0.9rem;
    padding: 5px;
    text-align: left;
    width: auto;
}

.btn--large {
    font-size: 1.4rem;
    padding: 15px 60px;
}

.btn--short {
    width: 120px;
}

.btn--thick {
    padding: 20px;
}

/* special buttons */

.btn--grey {
    background-color: #d3d3d3;
    color: #a0a0a0;
    /* margin-bottom: 40px; */
    cursor: default;
}

/* When enabled */
.btn--grey:enabled {
    background-color: var(--yellow-button-color);
    color: var(--font-color);
    cursor: pointer;
}

/* Hover on enabled */
.btn--grey:enabled:hover {
    background-color: var(--yellow-button-hover);
}

@media (max-width: 800px) {

    .btn {
        font-size: 1rem;
    }

    .btn--small { 
        font-size: 0.9rem; 
    }

    .btn--large {
        font-size: 1.2rem;
        padding: 15px 60px;
    }
}