version: "3.9"

services:
  app:
    "image": "mcr.microsoft.com/devcontainers/python:3.11"
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    network_mode: service:db
    depends_on:
      - db

  db:
    image: postgres:15.15-trixie
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    env_file: ../.env
    environment:
      POSTGRES_USER: admin
      POSTGRES_DB: main
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  pgdata:
