{% extends "base.html" %}
{% load static %}

{% block title %}Chatterdillo | Sign up{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account_setup.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">

    <!-- Logo Top Left -->
    <a href="/" class="logo-link">
        <div class="logo-upper-left">
            <img src="{% static 'images/chatterdillo_logo_official.png' %}" alt="Chatterdillo Logo">
        </div>
    </a>

    <!-- Register Button Top Right -->
    <div class="register-button-container">
        <a href="{% url 'login' %}" class="btn btn--yellow btn--small">Login</a>
    </div>

    <div class="account-setup-container">
        <div class="page-heading-with-logo">
            <h1>Set up an account</h1>
        </div>
        <h3>Who are you signing up as?</h3>

        <div class="card-row">
            <!-- School Leader -->
            <a href="{% url 'school_signup' %}" class="setup-card">
                <div class="setup-card-inner">
                    <h2>School Manager</h2>
                    <p>Set up a new school as an administrator</p>
                </div>
            </a>

            <!-- Teacher -->
            <a href="{% url 'request_join_school' %}" class="setup-card">
                <div class="setup-card-inner">
                    <h2>Teacher</h2>
                    <p>Make a request to join an existing school</p>
                </div>
            </a>

            <!-- Parent -->
            <a href="{% url 'parent_signup' %}?standalone=true" class="setup-card">
                <div class="setup-card-inner">
                    <h2>Parent</h2>
                    <p>Set up learning at home through a school or individually</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}