{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="login-container">
    <!-- Logo top left -->
    <div class="logo-container">
        <a href="/">
            <img src="{% static 'images/littletalk_logo.png' %}" alt="LittleTalk Logo" style="max-width: 150px; height: auto;">
        </a>
    </div>

    {% comment %} <!-- Register Button at the Top Right -->
    <div class="register-button-container">
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
    </div> {% endcomment %}

    <!-- Header Section -->
    <h1 style="text-align: center; font-size: 2rem; margin-bottom: 20px;">Coming Soon</h1>
    <p style="text-align: center; font-size: 1.2rem; margin-bottom: 20px;">Sign up to our waiting list to be the first to know when we launch!</p>
    <p style="text-align: center; font-size: 1.2rem; margin-bottom: 20px;">We will contact you and get you set up with a free trial on our programme.</p>

    <!-- Waiting List Signup Form -->
    <form method="post" class="login-form">
        {% csrf_token %}

        <!-- Email Input -->
        <div>
            <input 
                type="email" 
                name="email"  
                placeholder="Enter your email" 
                required>
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit">I'm in!</button>
        </div>
    </form>

    <!-- Success or Error Message -->
    {% if messages %}
        {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
