{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="login-container">
    <!-- logo top left -->
    <div class="logo-container">
        <a href="/">
            <img src="{% static 'images/littletalk_logo.png' %}" alt="LittleTalk Logo" style="max-width: 150px; height: auto;">
        </a>
    </div>

    <!-- Register Button at the Top Right -->
    <div class="register-button-container">
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
    </div>

    <!-- Header Section -->
    <h1 style="text-align: center; font-size: 2rem; margin-bottom: 20px;">Log In</h1>

    <!-- Login Form -->
    <form method="post" class="login-form">
        {% csrf_token %}

        <!-- Email Input -->
        <div>
            <input 
                type="text"
                name="username"  
                placeholder="Email or Username" 
                required>
        </div>

        <!-- Password Input -->
        <div>
            <input 
                type="password" 
                name="password" 
                placeholder="Password" 
                required>
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit">Log In</button>
        </div>

        <!-- Error Message for Invalid Login -->
    </form>
    {% if form.errors %}
        <p class="error-message">Invalid username or password</p>
    {% endif %}
</div>
{% endblock %}