{% extends "base.html" %}

{% block content %}

<h1>Welcome Back</h1>
{% if form.errors %}
    <p style="color: red;">Invalid username or password</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<!-- Add "Don't have an account?" button that redirects to the register page -->
<div class="register-link-container">
    <p>Don't have an account? <a href="{% url 'register' %}">Go to Register</a></p>
</div>


{% endblock %}