/* Container for the entire form section */
#assessment-form-container {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Question Text */
#question-text {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px;
    font-size: 24px;
    color: var(--font-color);
    margin-bottom: 20px;
    font-weight: 500;
}

/* Answer Buttons (Yes/No) */
.answer-button-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.answer-button {
    padding: 12px 28px;
    font-size: 18px;
    background-color: white;
    color: var(--font-color);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    width: 200px;
}

.answer-button:hover {
    background-color: var(--yellow-button-hover);
}

/* Progress Bar */
#progress-bar-container {
    margin: 20px auto;
    max-width: 550px;
}

progress {
    width: 100%;
    height: 12px;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--box-shadow);
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: var(--accent-color-light);
}

progress::-webkit-progress-value {
    background-color: var(--button-green);
    border-radius: 10px;
}

/* Back Button */
.nav-button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.back-button {
    padding: 12px 28px;
    font-size: 16px;
    background-color: white;
    color: var(--font-color);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: var(--yellow-button-hover);
}

.back-button:disabled {
    background-color: #d3d3d3; /* Light grey for disabled state */
    color: #a0a0a0; /* Dimmed text */
    cursor: not-allowed;
    opacity: 0.6;
}

/* Responsive Design */
@media (max-width: 480px) {
    #assessment-form-container {
        width: 90%;
    }

    .answer-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    h2 {
        font-size: 20px;
    }

    .answer-button-group {
        flex-direction: column;
        gap: 15px;
    }
}