/* Game Description Container */
.game-description-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    padding-top: 70px;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: left;
    position: relative;
}

.learning-header {
    text-align: left;
}

/* Game Description Text */
.game-description {
    /* font-size: 1.1rem; */
    color: var(--font-color);
    margin-bottom: 15px;
}

/* Quote Styling */
.game-quote {
    font-size: 1.0rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 20px 0;
}

/* Learning Level Section */
.learning-level {
    font-size: 1.0rem;
    color: var(--font-color);
    /* padding: 10px; */
    margin-top: 20px;
}

/* Start Button */
.start-button-wrapper {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.start-button {
    background-color: var(--button-green);
    color: var(--font-color);
    padding: 15px 60px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: var(--button-hover);
    /* transform: scale(1.05); */
}

.learning-bullets {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.learning-bullets li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--font-color);
}