.exercise-widget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
}

.exercise-image img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Keep square aspect ratio */
    border-radius: var(--border-radius);
    margin-right: 20px;
    box-shadow: var(--box-shadow);
}

.exercise-details {
    flex: 1;
    text-align: left;
}

.exercise-details h3 {
    margin: 0;
    font-family: var(--font-outfit);
    font-size: 1.5rem;
}

.exercise-details p {
    margin: 10px 0;         
    color: var(--font-color);
    font-size: 1rem;
}

.exercise-btn {
    display: inline-block;
    background-color: var(--button-green);
    color: var(--font-color);
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.exercise-btn:hover {
    background-color: var(--button-hover);
}

.exercise-icon {
    position: absolute;
    top: 25px;  /* Moves icon to the top */
    right: 25px; /* Positions icon to the right */
    width: 25px;
    height: 25px;
    opacity: 0.7;
    transition: opacity 0.2s ease
}

.exercise-icon:hover {
    opacity: 1;
}

.locked-btn {
    pointer-events: none; /* Prevents clicking */
    background-color: #FF9292;
}

.locked-btn:hover {
    background-color: #FF9292;
}