@import './base/variables.css';
@import './base/typography.css';
@import './layout/layout.css';
@import './components/errorbar.css';
@import './components/sidebar.css';
@import './components/forms.css';
@import './components/buttons.css';
@import './components/choice-list.css';
@import './components/widgets.css';
@import './pages/login_register.css';
@import './pages/profile.css';
@import './pages/practice.css';
@import './pages/logbook.css';
@import './pages/cohorts.css';
@import './pages/support.css';
@import './pages/assessment.css';