/* Contact Section */
.contact-section {
    text-align: center;
    padding: 30px;
    width: 500px;
    background: var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 45px auto 50px auto; 
}

/* FAQ Section */
.faq-section {
    text-align: left;
    background: var(--accent-color);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.faq-item {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(237, 249, 255);
    padding-bottom: 10px;
}

.faq-item:last-child {
    border-bottom: none;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
}

.answer {
    font-size: 1rem;
    color: var(--font-color);
    margin-top: 5px;
}

.logo-link {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1000;
}

.logo-img {
    height: 42px;
    width: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.success-message {
    margin-top: 15px;
    color: var(--button-green);
    font-weight: bold;
}

.text-link {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.text-link:hover {
    color: #ffd737;
}