{% extends "base.html" %}

{% block title %}LittleTalk | Cohort{% endblock %}

{% block content %}

<h1 class="page-title">Cohort Settings</h1>

<div class="container-box container--short"">

  <div class="logbook-header">
    <a href="{% url 'cohort_create' %}" class="btn btn--yellow">
        + Add Cohort
    </a>
</div>

  {% if cohorts %}
    <div class="log-entries">
      {% for cohort in cohorts %}
        <div class="log-entry">
          <!-- Delete Button -->
          <a href="{% url 'cohort_delete' cohort.id %}" class="delete-entry-btn" aria-label="Delete Cohort">
            <img src="/static/icons/bin.png" alt="Delete" class="delete-icon">
          </a>
    
          <!-- Clickable Cohort Entry -->
          <a href="{% url 'cohort_edit' cohort.id %}" class="log-entry-link">
            <p>{{ cohort.name }}</p>
            <small>{{ cohort.description }}</small>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No cohorts defined yet.</p>
  {% endif %}

</div>

{% endblock %}